@import "tailwindcss";

html, body, #root {
  height: 100%;
}

@layer utilities {
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(25px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fadeIn {
    animation: fadeIn 0.6s ease-in-out forwards;
  }
}

@layer utilities {
  @keyframes shimmer {
    0% {
      background-position: -200% 0;
    }
    100% {
      background-position: 200% 0;
    }
  }

  .animate-shimmer {
    background-size: 200% 100%;
    animation: shimmer 1.5s linear infinite;
  }
}

@layer utilities {
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  .animate-fadeOut {
    animation: fadeOut 0.4s ease-in-out forwards;
  }
}

